@import url('https://fonts.googleapis.com/css?family=Roboto');

/* * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    font-size: 62.5%;
    background-color: #FCF1F5;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
} */

.container-music-player {
    position: fixed;
    bottom: 0.5%;
    right: 1%;
    z-index: 999;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.player-controls {
    background: linear-gradient(to right, #20082d, #220e3c, #23194a, #261c58, #2a1657);
    border-radius: 15px;
    width: 425px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, .6);
}


* {
    box-sizing: border-box;
}

.song-panel {
    background: linear-gradient(to right, #20082d, #220e3c, #23194a, #261c58, #2a1657);
    border-radius: 15px 15px 0 0;
    display: flex;
    height: 75px;
    justify-content: flex-end;
    padding: 0 12px 12px 12px;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease;
    width: 395px;
    z-index: 0;
    box-shadow: 0px 33px 90px 11px rgb(196 16 255 / 70%);
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .song-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 230px;

        .song-info__title {
            color: #b9b9b9;
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .song-info__artist {
            color: #a5a7af;
            font-size: 0.7rem;
            margin-bottom: 10px;
        }

        .progress {
            background: #fff;
            border-radius: 3px;
            cursor: ew-resize;
            display: flex;
            flex: 10;
            flex-basis: 100%;
            max-height: 5px;
            position: relative;
            transition: height 0.3s;
            width: 100%;

            .progress__filled {
                background: #8d41e1;
                flex: 0;
                flex-basis: 0%;
                width: 50%;
            }
        }
    }

    &.playing {
        transform: translate3d(0, 0, 0);
        transition: all 1s ease;
    }
}

.song-panel__label {
    position: absolute;
    top: 12px;
    left: 22px;
    font-weight: 500;
    font-size: larger;
    color: #cfcfcf;
}



.player button {
    height: 80px;
    width: 80px;
    cursor: pointer;
    border: none;
    background: linear-gradient(#582163, #352485, #1f0c4b);
    color: #DFDBE0;
    margin: 0 5px;
    border-radius: 15px;
    position: relative;
}

.player button:hover,
button.playing {
    background: linear-gradient(#582163, #352485, #1f0c4b);
    color: #fff;
}

.player button.play span.pause {
    background-color: white;
    position: absolute;
    top: 23px;
    height: 34px;
    width: 10px;
    display: block;
    border-radius: 3px;
    opacity: 0;
    transition: all .5s ease;
}

.player button.play span.pause.left {
    left: 0;
}

.player button.play.playing span.pause.left {
    left: 25px;
    opacity: 1;
    transition: left .5s ease, opacity .8s ease;
}

.player button.play span.pause.right {
    right: 0;
}

.player button.play.playing span.pause.right {
    right: 25px;
    opacity: 1;
    transition: right .5s ease, opacity .8s ease;
}

.player button.play i {
    opacity: 1;
    transition: opacity .5s ease;
}

.player button.play.playing i {
    opacity: 0;
    transition: all .5s ease;
}

.player-controls {
    position: relative;

    .spinner {
        height: 130px;
        width: 130px;
        position: absolute;
        top: -40px;
        left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.spin {
            animation: spin 5s linear infinite;
        }

        .spinner__disc {
            height: 110px;
            width: 110px;
            border-radius: 50%;
            transition: all 1s ease;
            background-image: url(http://www.placecage.com/c/127/127);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &.scale {
                transform: scale(1.17);
                transition: all 1s ease;

                .center__disc {
                    color: #9600cb;
                    transition: all 1s ease;
                }
            }

            .center__disc {
                background-color: #220c37;
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}