.button {
  padding: 16px;
  font-size: 18px;
  border-radius: .3125rem;
  text-shadow: white .1875rem;
  background: #ffb300;
  color: black;
  border: none;
  cursor: pointer;
  color: black;
}

.button:hover {
  background: #ffb300;
}

.button--secondary {
  background-color: transparent;
  background-image: none;
  color: white;
  border: .0625rem solid rgb(184, 184, 184);
  padding: 8px 20px;
}

.button--secondary:hover {
  color: black;
}

.hide {
  display: none;
}
